---
apiVersion: v1
kind: Service
metadata:
  name: web
spec:
  selector:
    app: web
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: web
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx
data:
  config: |
    # /etc/nginx/conf.d/default.conf
    proxy_cache_path /var/cache/nginx levels=1:2 keys_zone=STATIC:10m inactive=7d use_temp_path=off;

    upstream nextjs_upstream {
      server 127.0.0.1:3000;
    }

    server {
      listen 80 default_server;

      server_name _;

      server_tokens off;

      gzip on;
      gzip_proxied any;
      gzip_comp_level 4;
      gzip_types text/css application/javascript image/svg+xml;

      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection 'upgrade';
      proxy_set_header Host $host;
      proxy_cache_bypass $http_upgrade;

      location /_next/static {
        proxy_cache STATIC;
        proxy_pass http://nextjs_upstream;
      }

      location /static {
        proxy_cache STATIC;
        proxy_ignore_headers Cache-Control;
        proxy_cache_valid 60m;
        proxy_pass http://nextjs_upstream;
      }

      location / {
        proxy_pass http://nextjs_upstream;
      }

      location /basic_status {
          stub_status;
      }
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
      annotations:
        consul.hashicorp.com/connect-inject: "true"
        consul.hashicorp.com/service-metrics-port: "9113"
    spec:
      serviceAccountName: web
      volumes:
      - name: config
        configMap:
          name: nginx
          items:
          - key: config
            path: default.conf
      containers:
        # cache
        - name: nginx
          image: nginx:alpine
          ports:
            - containerPort: 80
          volumeMounts:
            - name: config
              mountPath: /etc/nginx/conf.d
              readOnly: true
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 3
        # app
        - name: nextjs
          image: hashicorpdemoapp/frontend:v1.0.1
          ports:
            - containerPort: 3000
          env:
            # consul ingress gateway
            - name: NEXT_PUBLIC_PUBLIC_API_URL
              value: http://localhost
        #stats
        - name: nginx-prometheus-exporter
          image: nginx/nginx-prometheus-exporter:0.9.0
          args:
            - -nginx.scrape-uri=http://127.0.0.1:80/basic_status
          resources: {}
          ports:
            - containerPort: 9113
