consul_acl_token = "4e5554f0-359f-4959-a4b6-cdc161e02453"
consul_gossip_key = "ol57mB3Cr01Bz1YyUrA3PonKmLhCygLNkNzo5UgrKSA="
consul_client_ca_path = "./consul-agent-ca.pem"
region = "us-east-1"
name = "consul-mc-lab"
