version: "2"
containers:
- name: cloud-client
  image: gcr.io/instruqt/cloud-client
  shell: /bin/bash
  ports:
  - 80
  - 8080
  - 8200
  - 8500
  - 9090
  memory: 2048
azure_subscriptions:
- name: consul
  roles:
  - Owner
